/*-----------------------------------------

    Education Through eXploration
    Arizona State University           

-----------------------------------------*/


/* Columns are for layout purposes. Viewable upon previewing lesson.*/
/* 
To utilize: 
    In author mode of Smart Sparrow, add text to the stage. 
    Change the background color to hex value: #123456, and opacity 0.7. 
    Press enter/return inside the text to create additional columns (up to 5). 
*/
/*parent of columns*/
.content div[style*="background-color:rgba(18,52,86,0.7)"]{
    border-left: solid 20px transparent  !important;
    border-right:solid 20px transparent  !important; 
}
.content div[style*="background-color:rgba(18,52,86,0.7)"] p {
    float: left;
    background: #fef9cc;
}
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:not(:first-child) {margin: 0 auto 0 20px;}

/*one column*/
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(1),
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(1) ~ p{
    width: 100% !important;
}
/*two columns*/
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(2),
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(2) ~ p{
    width: calc(50% - 10px) !important;
}
/*three columns*/
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(3),
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(3) ~ p{
    width: calc(33.33% - 13.6px) !important;
}
/*four columns*/
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(4),
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(4) ~ p{
    width: calc(25% - 15px) !important;
}
/*five columns*/
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(5),
.content div[style*="background-color:rgba(18,52,86,0.7)"] p:first-child:nth-last-child(5) ~ p{
    width: calc(20% - 16px) !important;
}

/*-----------------------------------------
    Color Swatch Variables            
-----------------------------------------*/
:root {
    /*Blue (oceanic)*/
    --blue100:#006586;      --blue100_a:rgba(0, 101, 134, 1);
    --blue80:#3398B9;       --blue80_a:rgba(0, 101, 134, .8);
    --blue60:#66B2CB;       --blue60_a:rgba(0, 101, 134, .6);
    --blue40:#99CBDC;       --blue40_a:rgba(0, 101, 134, .4);
    --blue20:#CCE5EE;       --blue20_a:rgba(0, 101, 134, .2);
    --blue40dark:#003D50;
    --blue20dark:#00516B;

    /*Orange (autumn)*/
    --orange100:#D77009;      --orange100_a:rgba(215, 112, 9, 1);
    --orange80:#DF8D3A;       --orange80_a:rgba(215, 112, 9, .8);
    --orange60:#E7A96B;       --orange60_a:rgba(215, 112, 9, .6);
    --orange40:#EFC69D;       --orange40_a:rgba(215, 112, 9, .4);
    --orange20:#FFE8CC;       --orange20_a:rgba(215, 112, 9, .2);
    --orange40dark:#814305;
    --orange20dark:#AC5A07;

    /*Purple (royal)*/
    --purple100:#5B2778;      --purple100_a:rgba(91, 39, 120, 1);
    --purple80:#7C5293;       --purple80_a:rgba(91, 39, 120, .8);
    --purple60:#9D7DAE;       --purple60_a:rgba(91, 39, 120, .6);
    --purple40:#BDA9C9;       --purple40_a:rgba(91, 39, 120, .4);
    --purple20:#DED4E4;       --purple20_a:rgba(91, 39, 120, .2);
    --purple40dark:#371748;
    --purple20dark:#491F60;

    /*Green (pine)*/
    --green100:#195E2F;      --green100_a:rgba(25, 94, 47, 1);
    --green80:#477E59;       --green80_a:rgba(25, 94, 47, .8);
    --green60:#759E82;       --green60_a:rgba(25, 94, 47, .6);
    --green40:#A3BFAC;       --green40_a:rgba(25, 94, 47, .4);
    --green20:#D1DFD5;       --green20_a:rgba(25, 94, 47, .2);
    --green40dark:#0F381C;
    --green20dark:#144B26;

    /*Red (cardinal)*/
    --red100:#BD1F2E;      --red100_a:rgba(189, 31, 46, 1);
    --red80:#CA4C58;       --red80_a:rgba(189, 31, 46, .8);
    --red60:#D77982;       --red60_a:rgba(189, 31, 46, .6);
    --red40:#E5A5AB;       --red40_a:rgba(189, 31, 46, .4);
    --red20:#F2D2D5;       --red20_a:rgba(189, 31, 46, .2);
    --red40dark:#71131C;
    --red20dark:#971925;

    /*Yellow (canary)*/
    --yellow100:#FCE300;      --yellow100_a:rgba(252, 227, 0, 1);
    --yellow80:#FDE933;       --yellow80_a:rgba(252, 227, 0, .8);
    --yellow60:#FDEE66;       --yellow60_a:rgba(252, 227, 0, .6);
    --yellow40:#FEF499;       --yellow40_a:rgba(252, 227, 0, .4);
    --yellow20:#FEF9CC;       --yellow20_a:rgba(252, 227, 0, .2);
    --yellow40dark:#978800;
    --yellow20dark:#CAB600;

    /*Dark Gary (graphite)*/
    --grayDark100:#333333;      --grayDark100_a:rgba(51, 51, 51, 1);
    --grayDark80:#484848;       --grayDark80_a:rgba(51, 51, 51, .8);
    --grayDark60:#5C5C5C;       --grayDark60_a:rgba(51, 51, 51, .6);
    --grayDark40:#717171;       --grayDark40_a:rgba(51, 51, 51, .4);
    --grayDark20:#858585;       --grayDark20_a:rgba(51, 51, 51, .2);

    /*Light Gray (overcast)*/
    --lightDark100:#999999;      --lightDark100_a:rgba(153, 153, 153, 1);
    --lightDark80:#ADADAD;       --lightDark80_a:rgba(153, 153, 153, .8);
    --lightDark60:#C2C2C2;       --lightDark60_a:rgba(153, 153, 153, .6);
    --lightDark40:#D6D6D6;       --lightDark40_a:rgba(153, 153, 153, .4);
    --lightDark20:#EBEBEB;       --lightDark20_a:rgba(153, 153, 153, .2);  

}

/*-----------------------------------------
    Fonts             
-----------------------------------------*/
@font-face {
    font-family: FontAwesome4;
    src: url(https://dev-etx.ws.asu.edu/fonts/Font%20Awesome/FontAwesome.otf);
}

@font-face {
    font-family: ArialNarrow;
    src: url(https://dev-etx.ws.asu.edu/fonts/Arial%20Narrow/ARIALN.TTF);
    font-style: italic;
}
@font-face {
    font-family: ArialNarrowBold;
    src: url(https://dev-etx.ws.asu.edu/fonts/Arial%20Narrow/ARIALNB.TTF);
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url(https://dev-etx.ws.asu.edu/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(https://dev-etx.ws.asu.edu/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: OpenSans;
    src: url(https://dev-etx.ws.asu.edu/fonts/Open%20Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansBold;
    src: url(https://dev-etx.ws.asu.edu/fonts/Open%20Sans/OpenSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: OpenSansItalic;
    src: url(https://dev-etx.ws.asu.edu/fonts/Open%20Sans/OpenSans-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: PTSerif;
    src: url(https://dev-etx.ws.asu.edu/fonts/PT%20Serif/PT_Serif-Web-Regular.ttf);
}
@font-face {
    font-family: PTSerifBold;
    src: url(https://dev-etx.ws.asu.edu/fonts/PT%20Serif/PT_Serif-Web-Bold.ttf);
}
@font-face {
    font-family: PTSerifItalic;
    src: url(https://dev-etx.ws.asu.edu/fonts/PT%20Serif/PT_Serif-Web-Italic.ttf);
}
@font-face {
    font-family: PTSerifBoldItalic;
    src: url(https://dev-etx.ws.asu.edu/fonts/PT%20Serif/PT_Serif-Web-BoldItalic.ttf);
}
@font-face {
    font-family: Quintessential;
    src: url(https://dev-etx.ws.asu.edu/fonts/Quintessential/Quintessential-Regular.ttf);
}
@font-face {
    font-family: QuintessentialBold;
    src: url(https://dev-etx.ws.asu.edu/fonts/Quintessential/Quintessential-Regular.ttf);
    font-weight: bold;
}
@font-face {
    font-family: QuintessentialItalic;
    src: url(https://dev-etx.ws.asu.edu/fonts/Quintessential/Quintessential-Regular.ttf);
    font-style: italic;
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(https://dev-etx.ws.asu.edu/fonts/Playfair%20Display/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: PlayfairDisplayBold;
    src: url(https://dev-etx.ws.asu.edu/fonts/Playfair%20Display/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: PlayfairDisplayItalic;
    src: url(https://dev-etx.ws.asu.edu/fonts/Playfair%20Display/PlayfairDisplay-Italic.ttf);
}
@font-face {
    font-family: PlayfairDisplayBoldItalic;
    src: url(https://dev-etx.ws.asu.edu/fonts/Playfair%20Display/PlayfairDisplay-BoldItalic.ttf);
}

/*-----------------------------------------
    Infiniscope Logo Link             
-----------------------------------------*/
/*textbox in SPR with classname applied*/
.infiniscope-logo-link {
    position: fixed !important;
    top: 9px !important;
    left: 10px !important;
    z-index: 10000000000000000 !important;
    background-color: white !important;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 442.27 98.05'  fill='rgb(51, 51, 51)'>  <defs></defs><title>Infiniscope-Logo</title><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><path class='cls-1' d='M0,2H10.21v71.5H0Z'/><path class='cls-1' d='M29.31,30.13a20.83,20.83,0,0,1,14.41-5.62A22.12,22.12,0,0,1,61.18,33c3.07,3.88,4.7,8.79,4.7,17.06V73.54h-9.7v-24c0-6.13-1.13-9-2.86-11.14a12.67,12.67,0,0,0-9.91-4.69,17.77,17.77,0,0,0-13.79,6.84v33h-9.7v-48h9.39Z'/><path class='cls-1' d='M101.12,9.6a15.93,15.93,0,0,0-3.57-.41,9.51,9.51,0,0,0-7.36,3.37c-1.33,1.74-1.84,4.19-1.84,8.58v4.39h14.81v8.69H88.35V73.54h-9.7V34.22H67.41V25.53H78.65V21.45C78.65,15,79.57,11,81.71,8A18.82,18.82,0,0,1,97.44,0a22.72,22.72,0,0,1,5.72.71Z'/><path class='cls-1' d='M115.62,2a6.41,6.41,0,0,1,6.44,6.44,6.32,6.32,0,0,1-6.44,6.33,6.24,6.24,0,0,1-6.33-6.33A6.32,6.32,0,0,1,115.62,2Zm-4.8,23.49h9.71v48h-9.71Z'/><path class='cls-1' d='M139.12,30.13a20.78,20.78,0,0,1,14.4-5.62A22.1,22.1,0,0,1,171,33c3.07,3.88,4.7,8.79,4.7,17.06V73.54H166v-24c0-6.13-1.12-9-2.86-11.14a12.65,12.65,0,0,0-9.91-4.69,17.77,17.77,0,0,0-13.79,6.84v33h-9.7v-48h9.4Z'/><path class='cls-1' d='M188.66,2a6.41,6.41,0,0,1,6.43,6.44,6.32,6.32,0,0,1-6.43,6.33,6.24,6.24,0,0,1-6.34-6.33A6.33,6.33,0,0,1,188.66,2Zm-4.81,23.49h9.71v48h-9.71Z'/><path class='cls-1' d='M205.2,60.77a23.35,23.35,0,0,0,14.2,5.31c4.19,0,8.38-2.24,8.38-6,0-5.52-8-5.82-15-8.17-5.82-1.94-11-5.62-11-12.36,0-10.32,9.19-15,17.77-15a24.44,24.44,0,0,1,15.94,5.31l-5,7A17,17,0,0,0,220.11,33c-4.69,0-8.68,2.25-8.68,6,0,3.27,3.78,4.39,8.58,5.61,7.56,1.95,17.47,5.32,17.47,15.22,0,9.09-8.48,14.71-17.88,14.71a30,30,0,0,1-19.4-6.64Z'/><path class='cls-1' d='M351.87,98.05h-9.7V25.53h9.4v4.4a22.48,22.48,0,0,1,15-5.42,22.87,22.87,0,0,1,11.75,3.07,25.65,25.65,0,0,1,.1,43.82,24.61,24.61,0,0,1-12.05,3.16,21.58,21.58,0,0,1-14.51-5.21Zm0-39.52a16.67,16.67,0,0,0,13.18,6.84A15.67,15.67,0,0,0,381,49.54c0-8.38-6.13-15.83-15.42-15.83a17.3,17.3,0,0,0-13.69,6.84Z'/><path class='cls-1' d='M405.19,51.58a15.46,15.46,0,0,0,15.53,14.5c7.15,0,11-3.47,13.79-6.53l6.33,6c-3.58,4.6-10.42,9-20.23,9-14,0-24.82-10.62-24.82-25s9.81-25,23.39-25c13.38,0,23.09,10.83,23.09,25a17.92,17.92,0,0,1-.1,2Zm.82-8.17h26.15A13.42,13.42,0,0,0,419.49,33,14,14,0,0,0,406,43.41Z'/><path class='cls-1' d='M312,24.25c-10.36,0-18.81,5.71-22.62,14.35l0,0c-3.61,7.92-5.46,14.73-8.62,19-3.06,4.09-7.55,7.46-13.89,7.46-9.19,0-15.93-6.44-15.93-15.83,0-9.09,6.64-15.84,15.32-15.84,6.13,0,11.3,3.8,14,7.47h0a2.27,2.27,0,0,1,.18.25l4.35-8.84a25.33,25.33,0,0,0-18.49-8.07c-14.4,0-25,10.83-25,25s10.82,25,25.63,25c8.79,0,17.37-4.6,21.35-11.24,0,0,.47-.72,1.47-2.45h0c2.34-4.2,4.84-13,8.83-20,3.2-5.59,7.11-7.42,13.5-7.37,8.89.07,15.12,7.12,15.12,15.91S320.85,65.07,312,65.07c-.47,0-.93,0-1.38,0h-.05a15.57,15.57,0,0,1-3.34-.67A22.29,22.29,0,0,1,297,58c-1.05,2.08-2.94,5.63-4.05,7.69a24.46,24.46,0,0,0,19,8.57c14.2,0,24.82-10.72,24.82-25S326.16,24.25,312,24.25Z'/></g></g></svg>");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    overflow: hidden !important;
    height: 41px;
    box-sizing: border-box;
    border-right: solid 1px black!important;
    padding: 0 !important;
}
.infiniscope-logo-link p a span {
    color: transparent  !important;
    white-space:pre-line;
}


/*-----------------------------------------
    Font Styles             
-----------------------------------------*/

.content H1 SPAN STRONG[style*="font-family:Arial;"],
.content H2 SPAN STRONG[style*="font-family:Arial;"]{
    font-family:MontserratBold !important; 
}
.content H3 SPAN[style*="font-family:Arial;"]{
    font-family:OpenSans !important; 
}

P SPAN[style*="font-family:Arial;"]{    
    font-family:OpenSans !important;
}
P SPAN STRONG[style*="font-family:Arial;"]{    
    font-family:OpenSansBold !important;
}
P SPAN EM[style*="font-family:Arial;"]{    
    font-family:OpenSansItalic !important;
}


/*-----------------------------------------
    Lesson Objectives Styles             
-----------------------------------------*/
.lesson-objective{ 
    background-color: transparent !important;  
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(65%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);
}
.lesson-objective h1{
    padding-top: 20px !important;
    /*padding-bottom: 20px !important;*/
    position: relative ;
    left: 165px;
}
.lesson-objective h1 span{
    font-family:ArialNarrow !important;
   
    
}
.lesson-objective h1 span[style*="color:rgba(110,189,153,1.0);"] strong{
    font-family:ArialNarrowBold !important;
}

.lesson-objective-list{
    font-family: Arial !important;
    padding-top: 20px !important;
    background-color: transparent !important;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 100%);
}
.lesson-objective-list ul{
    font-family: Arial;
    padding-left: 0px !important;
}

.lesson-objective-list ul li{
    font-family: Arial;
    margin-left:0;
    list-style: none;
    padding-right: 50px !important;
}
.lesson-objective-list ul li p{
    margin-bottom:20px;
    text-indent: -28px;
    margin-left: 25px;
}
.lesson-objective-list ul li p span{
    font-family: Arial !important;
}
.lesson-objective-list ul li p span:before{
    content: "\f0c8";
    font-family: FontAwesome4 !important;
    color:#6EBD99;
    margin-right: 10px;
}
/*-----------------------------------------
    List Item            
-----------------------------------------*/
li{
    margin-left:0 !important;
}


/*-----------------------------------------
    General Buttons             
-----------------------------------------*/

.content button{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    min-width:100px;
    height:40px;
    border-radius:3px;
    border:none;
    -moz-box-shadow:   2px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px rgba(0,0,0,.2);
    box-shadow:         2px 2px rgba(0,0,0,.2);
    padding: 0 20px;    
    cursor: pointer;
}
.content button:active {        
    -moz-box-shadow: inset 0px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0px 2px rgba(0,0,0,.4);
    box-shadow: inset 0px 2px rgba(0,0,0,.4); 
    color:rgba(255,255,255,.9); 
    transform: translateY(1px);
}
.content button:disabled{ 
    background-color: #858585;
    cursor: default;
}

.content button:disabled:active {          
    -moz-box-shadow: inset 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0px 0px rgba(0,0,0,0);
    color:rgba(255,255,255,.9); 
    transform: translateY(0px);
}
/*-- BUTTONS primary --*/
.primary{ 
    background-color:#006586;
    border-bottom:solid 0px red;
}
.primary:hover{ background-color:#00516B;}

/*-- BUTTONS secondary --*/
.secondary{ background-color:#D77009; }
.secondary:hover{ background-color:#AC5A07;}

/*-----------------------------------------
    Check Button            
-----------------------------------------*/
.checkContainer .buttonContainer .checkBtn, 
.checkContainer .closeFeedbackBtn, 
.checkContainer .showSolnBtn{
    background-color: #006586 !important;
}
.checkContainer .buttonContainer .checkBtn:hover, 
.checkContainer .closeFeedbackBtn:hover, 
.checkContainer .showSolnBtn:hover{
    background-color: #006586 !important;
}
.checkContainer .buttonContainer .checkBtn:focus, 
.checkContainer .closeFeedbackBtn:focus, 
.checkContainer .showSolnBtn:focus{
    background-color: #006586 !important;
}
.checkContainer .buttonContainer .checkBtn:active, 
.checkContainer .closeFeedbackBtn:active, 
.checkContainer .showSolnBtn:active{
    background-color: #006586 !important;
}
/*-----------------------------------------
    Disable Check Button when Feedback is Onscreen            
-----------------------------------------*/
div#stage-feedback:before {
    content: "";
    width: 145px;
    height: 50px;    
    position: absolute;
    right: -25px;
    bottom: -80px;
    /*background: rgba(51,51,51,0.5);*/
}

button.toggleFeedbackBtn div:after {
    content: "Open/Close Feedback";    
    display: inline;
    padding: 0 10px;
   /*color: #ffffff;*/
}
.feedbackContainer .toggleFeedbackBtn {
    left: 70px;
}

/*-----------------------------------------
    Feedback states            
-----------------------------------------*/
/*-- dividers between combined states--*/
#stage-feedback .content div:not(:last-child) div p:last-child {
    padding-bottom: 5px !important;
    margin-bottom: 5px;
    border-bottom: solid 1px #ebebeb;
}

/*-----------------------------------------
    Positions            
-----------------------------------------*/
/*none for now*/

/*-----------------------------------------
    Answer Mechanisms             
-----------------------------------------*/

/*-- CONTENT CONTAINER --*/
.content-container{
  border-radius:0 0 3px 3px;
  opacity:.9;
}
/*-- NAVIGATION BUTTONS --*/
/*-- Default --
.aelp-sim BUTTON.button{*/
.etxButton{
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    min-width:100px;
    height:40px;
    background-color:#006586;
    border-radius:3px;
    border:none;
    -moz-box-shadow:   2px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px rgba(0,0,0,.2);
    box-shadow:         2px 2px rgba(0,0,0,.2);
    padding: 0 20px;    
    cursor: pointer;
}
.etxButton:hover{
    background-color:#AC5A07;
}
.etxButton:active {        
    -moz-box-shadow: inset 0px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0px 2px rgba(0,0,0,.4);
    box-shadow: inset 0px 2px rgba(0,0,0,.4); 
    color:rgba(255,255,255,.9); 
    transform: translateY(1px);
}
.etxButton:disabled{ 
    background-color: #858585;
    cursor: default;
}

.etxButton:disabled:active {          
    -moz-box-shadow: inset 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0px 0px rgba(0,0,0,0);
    color:rgba(255,255,255,.9); 
    transform: translateY(0px);
}
/*-- SLIDER --*/
#stage-stage .slider-input .ui-slider{
  background: #EBEBEB;
}
#stage-stage .slider-input .ui-slider-handle {
  background:#006586;
}
#stage-stage .slider-input .ui-slider-handle:active,
#stage-stage .slider-input .ui-slider-handle:focus{
  box-shadow: 0 0 0 4px rgba(0, 101, 134, .2);
}
/*-- CAROUSEL --*/
.owl-carousel{
    margin-bottom: 10px;
    border-radius: 3px;
    background: #EBEBEB;
    box-sizing: border-box;
    padding: 10px 5px;
}
.owl-carousel .owl-dots{
    display:none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    background: #006586;
    color: #ffffff;
}

.owl-carousel .owl-nav button.owl-prev SPAN, 
.owl-carousel .owl-nav button.owl-next SPAN {
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
}
/*-- MULTISELECT/MULTIPLE CHOICE --*/
#stage-stage .mcq-input input:checked+label:before {
    box-shadow: inset 0 0 0 20px #006586;
}
#stage-stage .mcq-input input:checked:focus+label:before {
    box-shadow: inset 0 0 0 20px #006586, 0 0 0 4px rgba(0,151,167,0.4);
}
#stage-stage .mcq-input input:focus+label:before {
    box-shadow: inset 0 0 0 2px #006586, 0 0 0 4px rgba(0,151,167,0.4);
}
#stage-stage .mcq-input label span {
    font-family: OpenSans,sans-serif !important;
}
/*-- TEXT INPUT/TEXT AREA/NUMBER INPUT --*/
#stage-stage .short-text-input input,
#stage-stage .long-text-input textarea,
#stage-stage .number-input input{
  color: #333333;
  background-color: #ffffff !important;
  border-radius:2px;
}
#stage-stage .short-text-input input:focus,
#stage-stage .long-text-input textarea:focus,
#stage-stage .number-input input:focus{
  border-color: #006586 !important;
}
#stage-stage .short-text-input  label,
#stage-stage .long-text-input  label,
#stage-stage .number-input label{
    font-family: OpenSansBold !important;
    color: #5C5C5C;
}

#stage-stage .short-text-input input::placeholder,
#stage-stage .long-text-input textarea::placeholder,
#stage-stage .number-input input::placeholder {
    font-family: OpenSans !important;
    color: #717171;
    opacity: 1; /* Firefox */
}

#stage-stage .short-text-input input:-ms-input-placeholder,
#stage-stage .long-text-input textarea:-ms-input-placeholder,
#stage-stage .number-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: OpenSans !important;
    color: #717171;
}

#stage-stage .short-text-input input::-ms-input-placeholder,
#stage-stage .long-text-input textarea::-ms-input-placeholder,
#stage-stage .number-input input::-ms-input-placeholder { /* Microsoft Edge */
    font-family: OpenSans !important;
    color: #717171;
}
/*-- DROPDOWN --*/
#stage-stage .dropdown-input label {
    font-family: OpenSansBold !important; 
    color:#717171;
}
#stage-stage .dropdown-input select{
  color: #333333;
  background-color: #ffffff !important;
  background: none;
  position: relative;
}
#stage-stage .dropdown-input:after {
    content: '\f078';
    font-family: FontAwesome4;
    /*font-family: "FontAwesome", sans-serif;*/
    color: #006586;
    right: 11px;
    bottom: 0px;
    height: 35px;
    padding: 15px 0px 0px 8px;
    border-left: 0px solid #006586;
    position: absolute;
    pointer-events: none;
    line-height: 8px;
}
#stage-stage .dropdown-input select:focus{
  border-color: #006586 !important;
}

/*-----------------------------------------
    Pop-up Buttons             
-----------------------------------------*/
.content .info-icon:not(.no-restyle){
    background: none;
    background-color: #9D7DAE !important;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1'><text x='0' y='18' fill='white' font-size='24px' font-weight='bold' font-family='arial, sans-serif'>?</text></svg>");
    background-position:center;
    background-size: 16px 19px;
    background-repeat: no-repeat;

    -moz-box-shadow:   2px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px rgba(0,0,0,.2);
    box-shadow:         2px 2px rgba(0,0,0,.2);
}

.content .info-icon:not(.no-restyle):hover {
    background-color: #7C5293 !important;
}
.content .info-icon:not(.no-restyle):active {        
    -moz-box-shadow: inset 0px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0px 2px rgba(0,0,0,.4);
    box-shadow: inset 0px 2px rgba(0,0,0,.4); 
    transform: translateY(1px);
}
/*-- icons for future use 
.content .ques-icon:not(.no-restyle){
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1'><text x='0' y='18' fill='white' font-size='24px' font-weight='bold' font-family='arial, sans-serif'>?</text></svg>");
}
.content .info-icon:not(.no-restyle){
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1'><text x='0' y='18' fill='white' font-size='24px' font-weight='bold' font-family='arial, sans-serif'>i</text></svg>");
}
.content .excl-icon:not(.no-restyle){
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1'><text x='0' y='18' fill='white' font-size='24px' font-weight='bold' font-family='arial, sans-serif'>!</text></svg>");
}
--*/
/*-----------------------------------------
    Pop-up Container/Background             
-----------------------------------------*/
.info-icon-popup:not(.no-restyle).bg-transparency{
    background: rgba(255, 255, 255, .1)!important;
    border: 0px solid #d9d9de !important;
}
.info-icon-popup:not(.no-restyle).bg-lightbox{
    background: rgba(0,0,0, .6)!important;
    border: 0px solid #d9d9de !important;
}
.info-icon-popup:not(.no-restyle).bg-off{
    background: rgba(255, 255, 255, .0)!important;
    border: 0px solid #d9d9de !important;
}



/*-----------------------------------------
    Pop-up Close Button             
-----------------------------------------*/
.info-icon-popup:not(.no-restyle) .close{
    /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1'><text x='0' y='18' fill='#5C5C5C' font-size='24px' font-weight='bold' font-family='arial, sans-serif'>×</text></svg>")  !important;
    background-position: center  !important;
    background-size: 16px 19px  !important;
    background-repeat: no-repeat  !important;*/
    box-shadow: none;
    min-width: auto;
}
.info-icon-popup:not(.no-restyle) .close span{
    /*display: none;*/
}
.info-icon-popup:not(.no-restyle).bg-off .info-icon-popup:not(.no-restyle) .close{
    box-shadow: 0 0 3px black;
    background: rgb(255, 255, 255) !important;
    min-width: auto;
}

/*-----------------------------------------
    Hotspot            
-----------------------------------------*/
.pin-icon svg path:first-child {
    stroke: rgba(255,255,255,.2) !important;
    stroke-width: .5px !important;
}
/*-----------------------------------------
    Graphiing Component            
-----------------------------------------*/
.lineEquation.mathquill-rendered-math.hasCursor{display: none !important;}

iframe#GraphingRhinoPoop {
    margin-top: 20px;
    /*background-color: pink; /* should get overwritten by inline styles */
}

iframe#GraphingRhinoPoop .lineEquation.mathquill-rendered-math.hasCursor{display: none !important;}
iframe#GraphingRhinoPoop .mainScreen .scene .graph .jsxbox .curveLabel .lineEquation{display: none !important;}
iframe#GraphingRhinoPoop html body div.mainScreen div#scene_main div.graph div#jsxbox div.curveLabel div.lineEquation{display: none !important;} 
.lineEquation{display: none !important;}